/* BACKGROUNDS */
.bg-banner {
    background-image: url(../../src/images/backgrounds/header-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.bg-light {
    background-color: #fafafa;
}
.bg-black {
    background-color: #1b1b1b;
}

/* COLORS */

.color-black {
    color: #1b1b1b;
}
.color-white {
    color: #fff;
}


