// * CONFIGURATION OF BUTTONS
// * BUTTONS
$btn: (
  "size": 0.875rem,
  "weight": none,
  "color": black,
  "color-hover": none,
);
$btn-small: (
  "used": true,
  "padding": 0.5rem 1rem,
  "margin": none,
  "size": 0.688rem,
  "weight": 500,
  "color": #fff,
  "bg": #00c389,
  "rounded": none,
  "color-hover": #fff,
  "bg-hover": #00c389cc,
);
$btn-medium: (
  "used": true,
  "padding": 0.75rem 1.25rem,
  "margin": none,
  "size": 0.875rem,
  "weight": 500,
  "color": #fff,
  "bg": #00c389,
  "rounded": none,
  "color-hover": #fff,
  "bg-hover": #00c389cc,
);
$btn-big: (
  "used": false,
  "padding": 1rem 1.5rem,
  "margin": none,
  "color": none,
  "bg": none,
  "rounded": none,
  "color-hover": none,
  "bg-hover": none,
);
